VITE_API_SUMMARIZE_URL=http://localhost:3000/process
VITE_API_DEEP_PROCESS_URL=http://localhost:3000/deep-process
VITE_API_RAG_URL=http://localhost:3000/rag/query
VITE_API_DEEP_RAG_URL=http://localhost:3000/rag/deep-query