PORT=3000
LLAMA_SERVICE_URL=http://llama:8080
WHISPER_SERVICE_URL=http://whisper:9000
UPLOAD_LIMIT=52428800
QDRANT_URL=http://vectordb:6333
QDRANT_HOST=vectordb
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=documents
EMBEDDINGS_SERVICE_URL=http://embeddings:80