PORT=3000
LLAMA_SERVICE_URL=http://llama:8080
WHISPER_SERVICE_URL=http://whisper:9000
FASTER_WHISPER_SERVICE_URL=http://faster-whisper:9000
WHISPER_X_SERVICE_URL=http://whisper-x:9000
UPLOAD_LIMIT=52428800
QDRANT_URL=http://vectordb:6333
QDRANT_HOST=vectordb
QDRANT_PORT=6333
QDRANT_COLLECTION_NAME=documents
QDRANT_COLLECTION_QUERY_ROUTER_NAME=query-router
EMBEDDINGS_SERVICE_URL=http://embeddings:80